<h1>Cadastre o seu livro</h1>
<form action="/books/insertbook" method="POST" class="form">
    <div class="form-control">
        <label for="titulo">Título:</label>
        <input type="text" name="titulo" placeholder="Digite o título">
    </div>
    <div class="form-control">
        <label for="paginas">Qtd de páginas</label>
        <input type="number" name="paginas" placeholder="Digite a quantidade de páginas">
    </div>
    <input type="submit" value="Cadastrar">
</form>

